<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tt.dao.FC3DOrderMapper">
  <resultMap id="BaseResultMap" type="com.example.tt.Bean.FC3DOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="term" jdbcType="VARCHAR" property="term" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="roomid" jdbcType="INTEGER" property="roomid" />
    <result column="chatid" jdbcType="VARCHAR" property="chatid" />
    <result column="gamename" jdbcType="VARCHAR" property="gamename" />
    <result column="gametype" jdbcType="INTEGER" property="gametype" />
    <result column="orderamount" jdbcType="INTEGER" property="orderamount" />
    <result column="winrate" jdbcType="REAL" property="winrate" />
    <result column="UnitPrice" jdbcType="INTEGER" property="unitprice" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.tt.Bean.FC3DOrder">
    <result column="userid" jdbcType="LONGVARCHAR" property="userid" />
    <result column="username" jdbcType="LONGVARCHAR" property="username" />
    <result column="headimg" jdbcType="LONGVARCHAR" property="headimg" />
    <result column="mingci" jdbcType="LONGVARCHAR" property="mingci" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="jia" jdbcType="LONGVARCHAR" property="jia" />
  </resultMap>
  <sql id="Base_Column_List">
    id, term, money, addtime, status, roomid, chatid, gamename, gametype, orderamount, 
    winrate, UnitPrice
  </sql>
  <sql id="Blob_Column_List">
    userid, username, headimg, mingci, content, jia
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from fn_fc3dorder
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectOrderByStatusAndTerm"  resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from fn_fc3dorder
    where status = #{status,jdbcType=INTEGER} and term =  #{term,jdbcType=VARCHAR}
  </select>

  <select id="selectOrderByStatus"  resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from fn_fc3dorder
    where status = #{status,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fn_fc3dorder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.tt.Bean.FC3DOrder">
    insert into fn_fc3dorder (id, term, money, 
      addtime, status, roomid, 
      chatid, gamename, gametype, 
      orderamount, winrate, UnitPrice, 
      userid, username, headimg, 
      mingci, content, jia
      )
    values (#{id,jdbcType=INTEGER}, #{term,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}, 
      #{chatid,jdbcType=VARCHAR}, #{gamename,jdbcType=VARCHAR}, #{gametype,jdbcType=INTEGER}, 
      #{orderamount,jdbcType=INTEGER}, #{winrate,jdbcType=REAL}, #{unitprice,jdbcType=INTEGER}, 
      #{userid,jdbcType=LONGVARCHAR}, #{username,jdbcType=LONGVARCHAR}, #{headimg,jdbcType=LONGVARCHAR}, 
      #{mingci,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR}, #{jia,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.tt.Bean.FC3DOrder">
    insert into fn_fc3dorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="term != null">
        term,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="roomid != null">
        roomid,
      </if>
      <if test="chatid != null">
        chatid,
      </if>
      <if test="gamename != null">
        gamename,
      </if>
      <if test="gametype != null">
        gametype,
      </if>
      <if test="orderamount != null">
        orderamount,
      </if>
      <if test="winrate != null">
        winrate,
      </if>
      <if test="unitprice != null">
        UnitPrice,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="headimg != null">
        headimg,
      </if>
      <if test="mingci != null">
        mingci,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="jia != null">
        jia,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="term != null">
        #{term,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="chatid != null">
        #{chatid,jdbcType=VARCHAR},
      </if>
      <if test="gamename != null">
        #{gamename,jdbcType=VARCHAR},
      </if>
      <if test="gametype != null">
        #{gametype,jdbcType=INTEGER},
      </if>
      <if test="orderamount != null">
        #{orderamount,jdbcType=INTEGER},
      </if>
      <if test="winrate != null">
        #{winrate,jdbcType=REAL},
      </if>
      <if test="unitprice != null">
        #{unitprice,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=LONGVARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=LONGVARCHAR},
      </if>
      <if test="headimg != null">
        #{headimg,jdbcType=LONGVARCHAR},
      </if>
      <if test="mingci != null">
        #{mingci,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="jia != null">
        #{jia,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.tt.Bean.FC3DOrder">
    update fn_fc3dorder
    <set>
      <if test="term != null">
        term = #{term,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        roomid = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="chatid != null">
        chatid = #{chatid,jdbcType=VARCHAR},
      </if>
      <if test="gamename != null">
        gamename = #{gamename,jdbcType=VARCHAR},
      </if>
      <if test="gametype != null">
        gametype = #{gametype,jdbcType=INTEGER},
      </if>
      <if test="orderamount != null">
        orderamount = #{orderamount,jdbcType=INTEGER},
      </if>
      <if test="winrate != null">
        winrate = #{winrate,jdbcType=REAL},
      </if>
      <if test="unitprice != null">
        UnitPrice = #{unitprice,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=LONGVARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=LONGVARCHAR},
      </if>
      <if test="headimg != null">
        headimg = #{headimg,jdbcType=LONGVARCHAR},
      </if>
      <if test="mingci != null">
        mingci = #{mingci,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="jia != null">
        jia = #{jia,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.tt.Bean.FC3DOrder">
    update fn_fc3dorder
    set term = #{term,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      roomid = #{roomid,jdbcType=INTEGER},
      chatid = #{chatid,jdbcType=VARCHAR},
      gamename = #{gamename,jdbcType=VARCHAR},
      gametype = #{gametype,jdbcType=INTEGER},
      orderamount = #{orderamount,jdbcType=INTEGER},
      winrate = #{winrate,jdbcType=REAL},
      UnitPrice = #{unitprice,jdbcType=INTEGER},
      userid = #{userid,jdbcType=LONGVARCHAR},
      username = #{username,jdbcType=LONGVARCHAR},
      headimg = #{headimg,jdbcType=LONGVARCHAR},
      mingci = #{mingci,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      jia = #{jia,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.tt.Bean.FC3DOrder">
    update fn_fc3dorder
    set term = #{term,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      roomid = #{roomid,jdbcType=INTEGER},
      chatid = #{chatid,jdbcType=VARCHAR},
      gamename = #{gamename,jdbcType=VARCHAR},
      gametype = #{gametype,jdbcType=INTEGER},
      orderamount = #{orderamount,jdbcType=INTEGER},
      winrate = #{winrate,jdbcType=REAL},
      UnitPrice = #{unitprice,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>