<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tt.dao.Lottery20SettingMapper">
  <resultMap id="BaseResultMap" type="com.example.tt.Bean.Lottery20Setting">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roomid" jdbcType="INTEGER" property="roomid" />
    <result column="gameopen" jdbcType="BIT" property="gameopen" />
    <result column="da" jdbcType="REAL" property="da" />
    <result column="xiao" jdbcType="REAL" property="xiao" />
    <result column="dan" jdbcType="REAL" property="dan" />
    <result column="shuang" jdbcType="REAL" property="shuang" />
    <result column="anythree" jdbcType="REAL" property="anythree" />
    <result column="anytwo" jdbcType="REAL" property="anytwo" />
    <result column="fourfix" jdbcType="REAL" property="fourfix" />
    <result column="threefix" jdbcType="REAL" property="threefix" />
    <result column="twofix" jdbcType="REAL" property="twofix" />
    <result column="onefix" jdbcType="REAL" property="onefix" />
    <result column="touweifix" jdbcType="REAL" property="touweifix" />
    <result column="minbet" jdbcType="REAL" property="minbet" />
    <result column="maxbet" jdbcType="REAL" property="maxbet" />
    <result column="fengtime" jdbcType="INTEGER" property="fengtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.tt.Bean.Lottery20Setting">
    <result column="rules" jdbcType="LONGVARCHAR" property="rules" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roomid, gameopen, da, xiao, dan, shuang, anythree, anytwo, fourfix, threefix, 
    twofix, onefix, touweifix, minbet, maxbet, fengtime
  </sql>
  <sql id="Blob_Column_List">
    rules
  </sql>

  <select id="selectByRoomId" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from fn_lottery20
    where roomid = #{roomid,jdbcType=INTEGER}
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from fn_lottery20
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fn_lottery20
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.tt.Bean.Lottery20Setting">
    insert into fn_lottery20 (id, roomid, gameopen, 
      da, xiao, dan, shuang, 
      anythree, anytwo, fourfix, threefix, 
      twofix, onefix, touweifix, minbet, 
      maxbet, fengtime, rules
      )
    values (#{id,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}, #{gameopen,jdbcType=BIT}, 
      #{da,jdbcType=REAL}, #{xiao,jdbcType=REAL}, #{dan,jdbcType=REAL}, #{shuang,jdbcType=REAL}, 
      #{anythree,jdbcType=REAL}, #{anytwo,jdbcType=REAL}, #{fourfix,jdbcType=REAL}, #{threefix,jdbcType=REAL}, 
      #{twofix,jdbcType=REAL}, #{onefix,jdbcType=REAL}, #{touweifix,jdbcType=REAL}, #{minbet,jdbcType=REAL}, 
      #{maxbet,jdbcType=REAL}, #{fengtime,jdbcType=INTEGER}, #{rules,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.tt.Bean.Lottery20Setting">
    insert into fn_lottery20
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomid != null">
        roomid,
      </if>
      <if test="gameopen != null">
        gameopen,
      </if>
      <if test="da != null">
        da,
      </if>
      <if test="xiao != null">
        xiao,
      </if>
      <if test="dan != null">
        dan,
      </if>
      <if test="shuang != null">
        shuang,
      </if>
      <if test="anythree != null">
        anythree,
      </if>
      <if test="anytwo != null">
        anytwo,
      </if>
      <if test="fourfix != null">
        fourfix,
      </if>
      <if test="threefix != null">
        threefix,
      </if>
      <if test="twofix != null">
        twofix,
      </if>
      <if test="onefix != null">
        onefix,
      </if>
      <if test="touweifix != null">
        touweifix,
      </if>
      <if test="minbet != null">
        minbet,
      </if>
      <if test="maxbet != null">
        maxbet,
      </if>
      <if test="fengtime != null">
        fengtime,
      </if>
      <if test="rules != null">
        rules,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="gameopen != null">
        #{gameopen,jdbcType=BIT},
      </if>
      <if test="da != null">
        #{da,jdbcType=REAL},
      </if>
      <if test="xiao != null">
        #{xiao,jdbcType=REAL},
      </if>
      <if test="dan != null">
        #{dan,jdbcType=REAL},
      </if>
      <if test="shuang != null">
        #{shuang,jdbcType=REAL},
      </if>
      <if test="anythree != null">
        #{anythree,jdbcType=REAL},
      </if>
      <if test="anytwo != null">
        #{anytwo,jdbcType=REAL},
      </if>
      <if test="fourfix != null">
        #{fourfix,jdbcType=REAL},
      </if>
      <if test="threefix != null">
        #{threefix,jdbcType=REAL},
      </if>
      <if test="twofix != null">
        #{twofix,jdbcType=REAL},
      </if>
      <if test="onefix != null">
        #{onefix,jdbcType=REAL},
      </if>
      <if test="touweifix != null">
        #{touweifix,jdbcType=REAL},
      </if>
      <if test="minbet != null">
        #{minbet,jdbcType=REAL},
      </if>
      <if test="maxbet != null">
        #{maxbet,jdbcType=REAL},
      </if>
      <if test="fengtime != null">
        #{fengtime,jdbcType=INTEGER},
      </if>
      <if test="rules != null">
        #{rules,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.tt.Bean.Lottery20Setting">
    update fn_lottery20
    <set>
      <if test="roomid != null">
        roomid = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="gameopen != null">
        gameopen = #{gameopen,jdbcType=BIT},
      </if>
      <if test="da != null">
        da = #{da,jdbcType=REAL},
      </if>
      <if test="xiao != null">
        xiao = #{xiao,jdbcType=REAL},
      </if>
      <if test="dan != null">
        dan = #{dan,jdbcType=REAL},
      </if>
      <if test="shuang != null">
        shuang = #{shuang,jdbcType=REAL},
      </if>
      <if test="anythree != null">
        anythree = #{anythree,jdbcType=REAL},
      </if>
      <if test="anytwo != null">
        anytwo = #{anytwo,jdbcType=REAL},
      </if>
      <if test="fourfix != null">
        fourfix = #{fourfix,jdbcType=REAL},
      </if>
      <if test="threefix != null">
        threefix = #{threefix,jdbcType=REAL},
      </if>
      <if test="twofix != null">
        twofix = #{twofix,jdbcType=REAL},
      </if>
      <if test="onefix != null">
        onefix = #{onefix,jdbcType=REAL},
      </if>
      <if test="touweifix != null">
        touweifix = #{touweifix,jdbcType=REAL},
      </if>
      <if test="minbet != null">
        minbet = #{minbet,jdbcType=REAL},
      </if>
      <if test="maxbet != null">
        maxbet = #{maxbet,jdbcType=REAL},
      </if>
      <if test="fengtime != null">
        fengtime = #{fengtime,jdbcType=INTEGER},
      </if>
      <if test="rules != null">
        rules = #{rules,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.tt.Bean.Lottery20Setting">
    update fn_lottery20
    set roomid = #{roomid,jdbcType=INTEGER},
      gameopen = #{gameopen,jdbcType=BIT},
      da = #{da,jdbcType=REAL},
      xiao = #{xiao,jdbcType=REAL},
      dan = #{dan,jdbcType=REAL},
      shuang = #{shuang,jdbcType=REAL},
      anythree = #{anythree,jdbcType=REAL},
      anytwo = #{anytwo,jdbcType=REAL},
      fourfix = #{fourfix,jdbcType=REAL},
      threefix = #{threefix,jdbcType=REAL},
      twofix = #{twofix,jdbcType=REAL},
      onefix = #{onefix,jdbcType=REAL},
      touweifix = #{touweifix,jdbcType=REAL},
      minbet = #{minbet,jdbcType=REAL},
      maxbet = #{maxbet,jdbcType=REAL},
      fengtime = #{fengtime,jdbcType=INTEGER},
      rules = #{rules,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.tt.Bean.Lottery20Setting">
    update fn_lottery20
    set roomid = #{roomid,jdbcType=INTEGER},
      gameopen = #{gameopen,jdbcType=BIT},
      da = #{da,jdbcType=REAL},
      xiao = #{xiao,jdbcType=REAL},
      dan = #{dan,jdbcType=REAL},
      shuang = #{shuang,jdbcType=REAL},
      anythree = #{anythree,jdbcType=REAL},
      anytwo = #{anytwo,jdbcType=REAL},
      fourfix = #{fourfix,jdbcType=REAL},
      threefix = #{threefix,jdbcType=REAL},
      twofix = #{twofix,jdbcType=REAL},
      onefix = #{onefix,jdbcType=REAL},
      touweifix = #{touweifix,jdbcType=REAL},
      minbet = #{minbet,jdbcType=REAL},
      maxbet = #{maxbet,jdbcType=REAL},
      fengtime = #{fengtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertSelective" parameterType="com.example.tt.Bean.Lottery20Setting">
    replace into fn_lottery20
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomid != null">
        roomid,
      </if>
      <if test="gameopen != null">
        gameopen,
      </if>
      <if test="da != null">
        da,
      </if>
      <if test="xiao != null">
        xiao,
      </if>
      <if test="dan != null">
        dan,
      </if>
      <if test="shuang != null">
        shuang,
      </if>
      <if test="anythree != null">
        anythree,
      </if>
      <if test="anytwo != null">
        anytwo,
      </if>
      <if test="fourfix != null">
        fourfix,
      </if>
      <if test="threefix != null">
        threefix,
      </if>
      <if test="twofix != null">
        twofix,
      </if>
      <if test="onefix != null">
        onefix,
      </if>
      <if test="touweifix != null">
        touweifix,
      </if>
      <if test="minbet != null">
        minbet,
      </if>
      <if test="maxbet != null">
        maxbet,
      </if>
      <if test="fengtime != null">
        fengtime,
      </if>
      <if test="rules != null">
        rules,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="gameopen != null">
        #{gameopen,jdbcType=BIT},
      </if>
      <if test="da != null">
        #{da,jdbcType=REAL},
      </if>
      <if test="xiao != null">
        #{xiao,jdbcType=REAL},
      </if>
      <if test="dan != null">
        #{dan,jdbcType=REAL},
      </if>
      <if test="shuang != null">
        #{shuang,jdbcType=REAL},
      </if>
      <if test="anythree != null">
        #{anythree,jdbcType=REAL},
      </if>
      <if test="anytwo != null">
        #{anytwo,jdbcType=REAL},
      </if>
      <if test="fourfix != null">
        #{fourfix,jdbcType=REAL},
      </if>
      <if test="threefix != null">
        #{threefix,jdbcType=REAL},
      </if>
      <if test="twofix != null">
        #{twofix,jdbcType=REAL},
      </if>
      <if test="onefix != null">
        #{onefix,jdbcType=REAL},
      </if>
      <if test="touweifix != null">
        #{touweifix,jdbcType=REAL},
      </if>
      <if test="minbet != null">
        #{minbet,jdbcType=REAL},
      </if>
      <if test="maxbet != null">
        #{maxbet,jdbcType=REAL},
      </if>
      <if test="fengtime != null">
        #{fengtime,jdbcType=INTEGER},
      </if>
      <if test="rules != null">
        #{rules,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>